#  Memory Optimization for Medium Sized Dataset

 I will be optimizing the Lending Club's website data from the timeframe of 2007-2011 with the assumption that I only have 10mb to process and analyze the data.

In [3]:
import pandas as pd
import pprint as pp

Pandas library provides a very easy way to batch process the dataset using chunks. Below split the dataset into 1000 row chunks and determine the total memory footprint as well as the total number of rows.

In [7]:
chunk_iter=pd.read_csv('loans_2007.csv',chunksize=1000)
total_mem=0
total_rows=0
for chunk in chunk_iter:
    total_mem+=chunk.memory_usage(deep=True).sum()/(1024*1024)
    total_rows+=len(chunk)

print('Total Memory is',total_mem,'mB')
print('Total Number of Rows is ', total_rows)

Total Memory is 66.1424999237 mB
Total Number of Rows is  42538

One of the assumptions of this project is we only have 10mb of memory available to process and analyze this dataset. With a total memory footprint of 66mB we need to ensure each batch of data we process is around 5mb( approx half the 10mb limit, just to be safe)

In [12]:
chunk_iter=pd.read_csv('loans_2007.csv',chunksize=3000)
for chunk in chunk_iter:
    pp.pprint(chunk.memory_usage(deep=True).sum()/(1024*1024))

4.6512298583984375
4.6481781005859375
4.6496686935424805
4.6505937576293945
4.6469202041625977
4.6483755111694336
4.6473674774169922
4.6494159698486328
4.647435188293457
4.6472721099853516
4.6598777770996094
4.6566619873046875
4.6634960174560547
4.8978452682495117
0.88080883026123047

There are a few questions we need answered about the data in each column. First what type of data is in each column.

In [19]:
chunk_iter=pd.read_csv('loans_2007.csv',chunksize=3000)
for chunk in chunk_iter:
    pp.pprint(chunk.dtypes.value_counts())

float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     22
dtype: int64
float64    30
object     22
dtype: int64

In [18]:
chunk_iter=pd.read_csv('loans_2007.csv',chunksize=3000)
for chunk in chunk_iter:
    print(chunk.select_dtypes(include=['int64']).columns)

Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index(['id'], dtype='object')
Index([], dtype='object')
Index([], dtype='object')

In general we have 21 object columns and 31 numeric columns. One interesting thing that appears is that the 'ID' changes its dytpe from int64 to object. This should not make a major impact as the ID column is not that important in this project. Next I will check how many unique values are in each object column.

In [23]:
## Create dictionary (key: column, value: list of Series objects representing each chunk's value counts)
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
string_cols_values= {}
for chunk in chunk_iter:
    #select only the object columns
    str_cols = chunk.select_dtypes(include=['object'])
    for col in str_cols.columns:
        #loop through each column and find the value counts
        current_col_vc = str_cols[col].value_counts()
        #save values to dictionary
        if col in string_cols_values:
            string_cols_values[col].append(current_col_vc)
        else:
            string_cols_values[col] = [current_col_vc]
pp.pprint(string_cols_values)

{'addr_state': [CA    563
NY    282
FL    238
TX    198
NJ    133
GA    122
IL    117
PA    103
VA    100
OH     91
WA     82
MA     81
NC     79
MD     70
AZ     64
CT     61
MO     58
CO     51
MN     47
WI     44
OR     39
NV     36
MI     33
AL     29
LA     26
SC     25
UT     24
HI     21
OK     20
AR     19
KY     19
KS     18
RI     16
AK     14
DC     13
NH     12
WV     12
SD     11
MT      8
NM      8
VT      6
WY      5
DE      2
Name: addr_state, dtype: int64,
                CA    518
NY    290
TX    231
FL    220
NJ    128
IL    116
VA    107
PA    105
OH    103
NC     88
GA     83
MA     71
MD     69
WA     66
AZ     64
MI     59
CO     58
CT     54
MO     51
WI     45
MN     45
NV     41
AL     37
SC     34
KY     34
LA     33
KS     32
OR     29
UT     27
OK     25
AR     19
HI     17
RI     16
NM     12
DE     12
DC     11
WV     11
NH      9
MT      8
AK      7
VT      5
WY      5
SD      3
TN      1
MS      1
Name: addr_state, dtype: int64,
                CA    549
NY    291
FL    219
TX    211
NJ    142
IL    122
PA    108
NC     90
GA     85
OH     83
AZ     81
MA     80
VA     78
CT     72
MD     67
WA     64
MO     56
CO     54
MN     44
OR     41
MI     41
SC     40
NV     40
AL     34
WI     31
LA     29
OK     27
AR     27
KS     26
KY     26
HI     21
UT     19
DC     18
NH     17
NM     16
RI     10
DE     10
WV      8
SD      7
VT      5
WY      4
AK      4
MT      3
Name: addr_state, dtype: int64,
                CA    538
NY    246
FL    229
TX    201
NJ    139
IL    130
NC    107
MA    106
GA    102
PA     94
OH     94
VA     85
MD     82
WA     64
AZ     57
MO     57
MI     56
CO     56
CT     50
SC     47
LA     39
NV     38
WI     38
MN     38
OR     37
KY     32
KS     31
AL     29
AR     23
OK     23
DC     17
RI     16
WV     15
NM     14
UT     13
HI     13
NH     12
SD      7
WY      7
DE      6
MT      5
VT      4
AK      3
Name: addr_state, dtype: int64,
                CA    473
NY    293
FL    232
TX    188
NJ    125
VA    118
IL    111
GA    110
OH    110
PA    110
MA    103
NC     86
MD     83
CT     63
AZ     62
MO     57
MI     53
LA     52
MN     50
WA     44
SC     44
CO     43
NV     40
AL     35
KY     35
OK     29
WI     28
OR     26
KS     25
DC     22
RI     21
AR     20
UT     17
NM     16
NH     13
MT     12
DE     11
WV     11
WY     10
HI      7
AK      6
VT      4
SD      2
Name: addr_state, dtype: int64,
                CA    544
NY    244
FL    217
TX    195
NJ    152
PA    128
IL    122
VA    115
GA     96
MD     89
OH     89
NC     87
MA     85
AZ     69
WA     65
CO     55
MO     54
MN     51
MI     50
NV     46
CT     41
AL     39
LA     39
SC     36
OK     35
OR     30
WI     29
KY     29
KS     25
AR     21
NM     16
HI     14
NH     12
RI     12
WV     12
UT     11
DC     10
AK      8
WY      7
MT      7
DE      6
SD      5
VT      3
Name: addr_state, dtype: int64,
                CA    541
NY    305
TX    211
FL    193
NJ    146
IL    110
MA    108
PA    105
GA    100
NC     99
OH     86
VA     85
AZ     73
WA     70
MD     66
MI     62
NV     57
MO     57
MN     57
CO     53
CT     49
OR     35
WI     32
SC     30
LA     28
KS     28
AL     27
KY     27
UT     21
OK     20
WV     18
DC     15
HI     12
NH     11
RI     11
AR     10
NM     10
DE      8
MT      7
AK      6
VT      5
SD      3
WY      3
Name: addr_state, dtype: int64,
                CA    525
NY    286
TX    209
FL    197
NJ    130
PA    117
IL    109
MA    107
GA    105
NC    101
VA     98
OH     98
MD     82
CO     73
WA     69
MI     63
AZ     62
CT     54
MO     46
NV     43
MN     40
AL     39
OR     39
KS     31
AR     30
LA     30
SC     28
WI     26
KY     19
UT     17
HI     15
NH     15
WV     15
OK     15
DC     14
RI     14
NM     10
AK      8
SD      7
DE      7
MT      3
VT      3
WY      1
Name: addr_state, dtype: int64,
                CA    539
NY    351
FL    213
TX    186
NJ    143
PA    126
VA    116
IL    111
GA    106
MA     99
MD     89
OH     85
AZ     75
CT     67
MO     61
CO     58
MI     55
WA     51
MN     44
AL     40
SC     40
LA     36
WI     34
NV     30
OR     27
KY     23
WV     23
DC     21
UT     20
OK     20
AR     16
NM     15
NH     14
RI     13
DE     10
NC      9
HI      9
WY      6
MT      5
VT      5
AK      4
KS      3
SD      2
Name: addr_state, dtype: int64,
                CA    568
NY    267
TX    214
FL    206
NJ    163
VA    130
GA    127
PA    126
MA    115
IL    105
MD    100
OH     86
WA     60
AZ     59
CO     57
MI     57
CT     57
MO     55
MN     47
OR     38
LA     38
WI     38
SC     36
AL     31
NV     27
KY     23
NM     23
RI     19
OK     19
UT     19
WV     18
AR     18
DC     12
DE      8
HI      7
NH      7
AK      6
WY      5
SD      4
MT      3
IA      1
VT      1
Name: addr_state, dtype: int64,
                CA    544
NY    316
FL    223
TX    218
NJ    148
PA    133
MA    127
VA    121
IL    118
GA    112
OH     84
MD     74
CO     67
CT     63
MI     57
WA     56
AZ     54
MN     49
MO     48
AL     39
WI     39
OR     33
SC     32
NV     24
OK     22
KY     21
DC     19
NH     18
LA     18
WY     16
UT     15
NM     14
HI     13
RI     12
AR     12
WV     10
DE      9
MT      8
SD      5
VT      5
AK      4
Name: addr_state, dtype: int64,
                CA    534
NY    314
FL    223
TX    206
NJ    134
IL    132
PA    129
MA    111
GA    110
VA    106
OH    101
MD     79
CT     72
CO     70
MI     66
AZ     65
WA     62
MN     42
NV     42
OR     36
AL     35
SC     35
MO     33
WI     32
LA     29
UT     21
OK     21
NM     19
DC     17
RI     17
KS     17
WV     15
KY     14
AR     11
HI     10
NH     10
DE      8
WY      8
MT      6
SD      4
AK      3
VT      1
Name: addr_state, dtype: int64,
                CA    570
NY    236
TX    217
FL    207
NJ    134
PA    125
GA    113
VA    110
MA    110
IL    107
OH     98
AZ     81
MD     76
CO     73
WA     64
MI     61
MN     54
MO     41
SC     37
CT     36
OR     34
KS     33
AL     31
LA     29
NV     29
UT     28
WI     27
OK     23
KY     22
DC     22
RI     20
NH     19
MS     17
AR     17
DE     14
HI     14
NM     11
MT     10
TN      9
NC      9
WV      9
AK      7
VT      5
WY      5
SD      3
ID      2
NE      1
Name: addr_state, dtype: int64,
                CA    387
NY    273
TX    216
FL    215
IL    154
NJ    136
PA    136
OH    115
MA    107
VA    105
GA     94
MD     82
MI     77
MO     71
CO     69
CT     66
WA     64
WI     64
AZ     54
NC     51
MN     43
KY     32
LA     30
AL     30
NV     27
DE     25
KS     24
OR     23
SC     22
UT     19
OK     18
NM     18
TN     17
AR     15
NH     13
DC     12
IA     11
RI     11
WV     10
IN      9
HI      8
MT      8
ID      7
NE      6
MS      6
AK      5
VT      4
WY      4
SD      3
ME      3
Name: addr_state, dtype: int64,
                FL    72
NY    71
GA    38
CA    36
NJ    35
MA    28
NC    24
MO    20
CO    20
MD    17
TX    14
VA    13
AZ    13
CT    11
IN    10
AL     9
WI     9
IL     8
NV     7
UT     7
WA     7
NH     6
OH     6
PA     6
MI     6
KS     5
TN     5
LA     5
NE     4
MT     3
NM     3
AR     3
KY     3
SC     3
MS     2
SD     1
VT     1
MN     1
AK     1
DC     1
WY     1
OR     1
Name: addr_state, dtype: int64],
 'application_type': [INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    3000
Name: application_type, dtype: int64,
                      INDIVIDUAL    2999
Name: application_type, dtype: int64,
                      INDIVIDUAL    536
Name: application_type, dtype: int64],
 'earliest_cr_line': [Oct-2000    37
Apr-2000    36
Nov-2000    33
Jan-2000    32
May-2000    31
Nov-1998    29
Feb-2000    28
Sep-2000    26
Nov-1999    26
Dec-2001    26
Dec-1998    26
Aug-1999    25
Sep-1998    25
Oct-1999    25
Oct-2003    24
Aug-2000    24
Jan-2001    23
Jun-2002    22
Feb-2005    22
Nov-2003    22
Jul-2000    22
Oct-2002    21
Jul-2006    21
Oct-2005    20
Jul-2001    20
Dec-2000    20
Mar-2001    20
Dec-1999    20
Dec-1997    19
Mar-2006    19
            ..
Apr-1985     1
Mar-1978     1
Dec-1985     1
Jan-1981     1
Sep-1982     1
Dec-1976     1
Dec-1972     1
Nov-1976     1
Feb-1980     1
Oct-1977     1
Sep-1977     1
Dec-1975     1
Feb-1982     1
Aug-1979     1
Mar-1980     1
Oct-1981     1
Apr-1982     1
May-1977     1
Jun-1986     1
Mar-1984     1
Sep-1976     1
Dec-1979     1
Dec-1982     1
Nov-1986     1
Sep-1971     1
Feb-1991     1
Jan-1982     1
Sep-1962     1
Oct-1980     1
Jan-2008     1
Name: earliest_cr_line, dtype: int64,
                      Nov-1998    38
Mar-2000    30
Jul-2000    30
Jan-2001    29
Nov-1997    26
Nov-1999    26
Dec-1995    26
Oct-2000    26
Oct-1998    26
Dec-1998    24
Oct-2001    23
Aug-1999    23
Sep-2001    22
Nov-2000    22
Oct-1999    21
Aug-2000    21
Apr-1999    20
Jan-1999    20
Dec-1999    20
Sep-1995    20
May-2002    19
Apr-1994    19
Dec-1996    19
Oct-2003    19
Sep-2003    19
Sep-2002    19
Jul-1998    18
Dec-2000    18
Oct-2002    18
May-1998    18
            ..
Feb-1979     1
Aug-1967     1
Dec-1963     1
Mar-1982     1
Jan-1987     1
Jun-1975     1
Mar-1977     1
Aug-1974     1
Feb-1983     1
Sep-1977     1
Mar-1978     1
Dec-1972     1
Mar-1973     1
Jan-1980     1
Apr-1975     1
Oct-1970     1
Oct-1972     1
Apr-1971     1
Aug-1981     1
May-1975     1
Jan-1970     1
Nov-1976     1
Mar-1963     1
May-1965     1
Jun-1967     1
May-1982     1
Dec-1980     1
Jan-1976     1
Sep-1982     1
Jun-1974     1
Name: earliest_cr_line, dtype: int64,
                      Jan-2000    32
Apr-2000    32
Aug-1998    31
Oct-2003    28
Nov-1998    26
Oct-2000    25
Aug-2000    25
Aug-1999    25
Feb-2001    24
Nov-1997    24
Oct-2001    24
Dec-1999    24
Oct-2002    23
Nov-2000    23
Dec-1997    23
Sep-1999    23
Nov-1999    23
Nov-2001    23
Nov-1996    22
Jan-1997    22
Jul-2000    21
Jan-1999    21
Sep-1998    21
Mar-1999    21
Jun-1999    21
Oct-1999    21
Dec-2000    21
Jul-1999    20
Oct-1998    20
Jan-1996    20
            ..
May-1985     1
Apr-1966     1
Mar-1968     1
May-1975     1
Dec-1981     1
Aug-1984     1
Mar-1973     1
Jun-1969     1
Aug-1982     1
May-1973     1
Jan-1982     1
Apr-1985     1
Mar-1980     1
Sep-1973     1
Oct-1976     1
Jul-1976     1
Mar-1979     1
Nov-1970     1
May-1976     1
Sep-1981     1
Dec-1975     1
Jul-1979     1
Sep-1965     1
Jul-1983     1
Jan-1974     1
Sep-1968     1
Dec-1978     1
Nov-1982     1
Dec-1979     1
Nov-1978     1
Name: earliest_cr_line, dtype: int64,
                      Nov-1999    32
Oct-1999    30
Oct-2000    28
Nov-1998    27
Dec-1998    26
Jan-2000    25
Oct-1998    24
May-1999    24
Jan-2001    24
Dec-1996    23
Dec-1997    23
Sep-2004    23
Nov-1997    22
Oct-2001    22
Oct-1994    22
Jan-1999    22
Oct-2004    21
Sep-1999    21
Aug-1999    21
Sep-1998    21
Oct-1997    21
Jul-1995    21
Jun-1999    21
Mar-1999    20
Dec-2000    20
Apr-2000    20
May-2000    19
Sep-2001    19
Dec-1999    19
Nov-2000    19
            ..
Sep-1980     1
Feb-1969     1
Oct-1973     1
Dec-1981     1
Nov-1980     1
Jan-1978     1
Nov-1974     1
Jan-1979     1
Jul-1967     1
Feb-1986     1
May-1981     1
Feb-1980     1
Dec-1975     1
Oct-1981     1
Feb-1978     1
Jan-1974     1
Aug-1980     1
Jun-1969     1
Jul-1972     1
Jul-1981     1
May-1963     1
Jul-1979     1
Feb-1983     1
Aug-1982     1
Sep-1977     1
Feb-1971     1
Oct-1963     1
May-1980     1
Sep-1972     1
Jul-1975     1
Name: earliest_cr_line, dtype: int64,
                      Jan-2000    32
Feb-2001    32
Nov-2000    31
Dec-1999    31
Nov-1998    28
Dec-1998    28
Sep-2000    28
Dec-2000    27
Jan-1997    27
Oct-2000    26
Oct-1999    26
Oct-2002    25
Oct-2001    24
Sep-1998    23
Apr-2000    23
Dec-1997    23
May-1999    23
Mar-1999    22
Sep-1999    22
Aug-1999    22
Oct-1998    22
Nov-1994    22
Nov-1996    21
May-1998    21
Nov-1999    21
Nov-2003    20
Jan-2001    20
Dec-1996    20
Aug-1998    20
Jan-1999    20
            ..
Nov-1970     1
Mar-1970     1
Sep-1956     1
Jan-1986     1
Dec-1976     1
Feb-1975     1
Nov-1974     1
Jul-1972     1
Aug-1978     1
Jan-1963     1
Sep-1982     1
Oct-1981     1
Jan-1982     1
Oct-1979     1
Mar-1968     1
Jun-1981     1
Sep-1977     1
Oct-1970     1
Nov-1969     1
Jun-1976     1
Feb-1983     1
May-1978     1
May-1965     1
Apr-1981     1
Apr-1964     1
Jun-1978     1
Feb-1986     1
Oct-1980     1
Jun-1985     1
Mar-1984     1
Name: earliest_cr_line, dtype: int64,
                      Oct-1999    30
Oct-2000    30
Dec-1998    29
May-2001    29
Nov-1998    29
Dec-1997    27
Dec-1999    27
Nov-1996    26
Nov-1997    25
May-2000    24
Dec-1994    24
Jan-1996    24
Aug-2000    23
Aug-1997    23
Nov-1999    23
Dec-2002    23
Feb-2000    23
Oct-2001    23
Jun-2001    22
Dec-2001    21
Nov-2000    21
Oct-1996    20
Oct-2002    20
May-1996    20
Sep-1998    20
Nov-1994    20
Jul-2000    20
Dec-1996    19
Sep-2001    19
Dec-2000    19
            ..
Oct-1986     1
Feb-1975     1
Jun-1977     1
Jun-1970     1
May-1973     1
May-1977     1
Aug-1984     1
Mar-1966     1
Feb-1977     1
Feb-1982     1
Mar-1982     1
Jun-1979     1
May-1980     1
Nov-1982     1
Jul-1977     1
Dec-1978     1
Oct-1977     1
Feb-1966     1
Jun-1969     1
Aug-1969     1
Jan-1973     1
Nov-1971     1
Jan-1968     1
Oct-1971     1
Mar-1970     1
Jan-1983     1
Jan-1982     1
Feb-1968     1
Jul-1972     1
Jun-1980     1
Name: earliest_cr_line, dtype: int64,
                      Sep-2000    34
Nov-1998    33
Oct-1996    31
Aug-2000    30
Oct-1998    29
Oct-1999    29
Nov-2003    28
Dec-1996    28
Dec-1997    26
Nov-2000    25
Dec-1998    24
Dec-2000    23
May-2000    23
Oct-2000    23
Feb-2000    23
Sep-1997    23
Dec-1995    22
Oct-1997    22
Nov-1997    21
Nov-1999    21
Aug-1997    20
Jul-2000    20
Jan-1994    20
Jan-2000    20
Nov-1996    19
Jan-1996    19
Jan-1999    19
Nov-1995    19
Mar-1999    19
Jan-1995    19
            ..
Sep-1975     1
May-1977     1
May-1981     1
Aug-1982     1
Jan-1971     1
Apr-1975     1
Jun-1971     1
Feb-1981     1
Feb-1972     1
Dec-1979     1
May-1970     1
Oct-1977     1
Oct-1983     1
Jan-1983     1
Dec-1961     1
Aug-1973     1
Mar-1969     1
Aug-1974     1
Nov-1969     1
Mar-1981     1
Jul-1977     1
May-1974     1
Apr-1971     1
Sep-1979     1
May-1987     1
Dec-1973     1
May-1980     1
Apr-1982     1
Dec-1976     1
Nov-1976     1
Name: earliest_cr_line, dtype: int64,
                      Dec-1997    34
Nov-2000    30
Nov-1996    29
Dec-1998    28
Nov-1998    28
Oct-2000    26
Nov-1997    26
Oct-1998    26
May-2000    26
Jul-2000    26
Dec-1995    25
Dec-2000    24
Feb-2000    24
Dec-1994    24
Dec-1999    24
Jan-1999    23
Sep-2000    23
Oct-1999    23
Oct-2004    22
Nov-1995    22
Jan-2000    22
May-1997    22
Sep-2001    22
Jan-1995    22
Aug-2000    22
Nov-1999    21
Dec-1996    21
May-1999    19
Aug-1999    19
Sep-1998    19
            ..
Feb-1975     1
Nov-1980     1
Jun-1976     1
Apr-1984     1
Sep-1979     1
Jun-1969     1
Jan-1982     1
Jun-1978     1
May-1980     1
Nov-1954     1
May-1983     1
Mar-1978     1
Dec-1979     1
Feb-1976     1
May-1977     1
Aug-1976     1
Jan-1984     1
May-1973     1
Apr-1977     1
Jan-1971     1
Feb-1981     1
Sep-1980     1
Aug-1977     1
Nov-1992     1
Sep-1972     1
Dec-2007     1
Sep-1976     1
Apr-1987     1
Dec-1976     1
Jul-1973     1
Name: earliest_cr_line, dtype: int64,
                      Oct-1999    29
Nov-1999    29
Nov-1997    28
Nov-2000    28
Aug-1998    27
Dec-1998    27
Oct-2000    27
Oct-2004    26
Nov-1998    26
Oct-1998    24
Sep-2000    23
Oct-2001    23
Oct-2002    22
Feb-1994    22
Dec-2001    21
Dec-1997    21
Jan-1997    21
Dec-1993    21
Jun-1998    21
Jan-2001    20
Jun-2001    20
Jan-1996    20
Jul-2000    20
Oct-2003    20
Aug-1995    20
Jul-1999    20
May-2000    20
Feb-1999    19
Apr-1996    19
Dec-1995    19
            ..
Nov-1967     1
May-1977     1
Aug-1976     1
Jan-1981     1
Sep-1980     1
Jun-1980     1
Oct-1980     1
Dec-1976     1
Jan-1986     1
Dec-1981     1
May-1974     1
Jan-1983     1
Apr-1969     1
Jan-1977     1
Sep-1972     1
Dec-1965     1
Nov-1971     1
May-1978     1
Jun-1984     1
Feb-1983     1
Aug-1979     1
Dec-1978     1
Mar-1975     1
Sep-1964     1
Jun-1975     1
Jan-1980     1
Nov-1970     1
May-1975     1
Aug-1978     1
Nov-1972     1
Name: earliest_cr_line, dtype: int64,
                      Dec-1997    35
Dec-1995    33
Nov-2000    28
Apr-1998    28
Oct-2000    26
Oct-1997    26
Dec-1998    26
Nov-1999    25
Mar-1994    24
Nov-1998    24
Aug-1999    24
Sep-2002    24
Oct-1999    23
Oct-1995    23
Dec-1996    23
Dec-1999    22
Nov-1997    21
Sep-2000    21
Mar-1999    21
Jan-1999    20
Oct-2004    20
Jul-2000    20
Jan-2001    19
Nov-2002    19
Sep-2004    19
Oct-1998    19
Sep-1998    19
Jan-1997    19
Nov-2001    19
Jun-2004    19
            ..
Feb-1981     1
Apr-1976     1
Jan-1979     1
May-1971     1
Mar-1970     1
Apr-1975     1
Jul-1970     1
Dec-1974     1
Apr-1980     1
Dec-1985     1
Sep-1980     1
Jun-1981     1
Oct-1980     1
Jul-1979     1
Jan-1983     1
Jul-1984     1
May-1982     1
Jan-1973     1
Jul-1977     1
Mar-1982     1
Dec-1980     1
May-1984     1
Aug-1972     1
Apr-1981     1
Feb-1975     1
Feb-1980     1
Nov-1981     1
Nov-1980     1
Jan-1980     1
May-1979     1
Name: earliest_cr_line, dtype: int64,
                      Oct-1999    35
Dec-1998    31
Jul-1999    28
Sep-2001    28
Jul-2000    27
Aug-1999    26
Jan-1996    26
Nov-2000    26
Sep-1999    25
Aug-1998    25
Oct-2000    25
Dec-1995    24
Dec-1994    24
Oct-1998    24
Feb-1997    22
Nov-1998    22
Dec-2000    22
Aug-1997    22
Dec-1996    22
Dec-1997    21
Feb-1999    21
Apr-2000    21
Jan-2000    21
Nov-1997    21
Oct-1996    21
Sep-1998    21
Nov-1995    20
Aug-1996    20
Dec-1999    20
Oct-1997    20
            ..
Oct-1982     1
May-1980     1
Jul-1976     1
Sep-1967     1
Jan-1977     1
Dec-1973     1
Dec-1975     1
Jan-1982     1
Jul-1984     1
May-1982     1
Nov-1971     1
Dec-1982     1
Oct-1973     1
Jul-1974     1
Sep-1975     1
Sep-1982     1
Sep-1983     1
Dec-1978     1
Nov-1975     1
Nov-1976     1
Dec-1974     1
Mar-1979     1
May-1981     1
Dec-1969     1
Mar-1977     1
Feb-1986     1
Jun-1979     1
Jun-1969     1
Feb-1980     1
Apr-1976     1
Name: earliest_cr_line, dtype: int64,
                      Oct-1999    38
Sep-2000    31
Dec-1997    31
Sep-1999    30
Dec-1995    29
Nov-1998    29
Oct-1998    28
Dec-1998    28
Nov-1996    28
Jul-1999    26
Aug-2003    26
Nov-1997    25
Sep-2004    24
Sep-2002    24
Sep-2001    24
Aug-1998    24
Nov-1999    23
Oct-2002    23
Oct-2001    23
Oct-2003    22
Oct-2000    22
Dec-1999    22
Jun-1998    21
Sep-1995    21
Oct-1997    20
Jan-1997    20
Jan-1994    20
Oct-2004    20
Mar-2000    19
Dec-2000    19
            ..
Nov-1980     1
Apr-1980     1
Jul-1973     1
Jan-1977     1
May-1982     1
Sep-1972     1
Feb-1969     1
Oct-1984     1
Aug-1971     1
Jul-1967     1
Jul-1970     1
Mar-1966     1
Dec-1973     1
Jan-1981     1
Nov-1981     1
Oct-1967     1
Apr-1971     1
Jun-1980     1
Feb-1965     1
Oct-1980     1
Dec-1979     1
May-1976     1
Jun-1986     1
Feb-1976     1
Apr-1977     1
Oct-1988     1

Now that we have combined the unqiue values in each object column lets find out the count of NaN values in the float columns

In [16]:
## Create dictionary (key: column, value: list of Series objects representing each chunk's value counts)
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
float_cols_values= {}
float_nan=[]
float_not_nan=[]
for chunk in chunk_iter:
    #select only the object columns
    flt_cols = chunk.select_dtypes(include=['float'])
    for col in flt_cols.columns:
        #save cols with no nan values to list
        if not chunk[col].isnull().any():
            float_not_nan.append(col)
        else:
            float_nan.append(col)
        float_cols_values.update({col:(len(chunk[col]) - chunk[col].count())})
#pp.pprint(sorted(float_cols_values.items(), key=lambda x: x[1])) 
pp.pprint(float_nan)

['pub_rec_bankruptcies',
 'pub_rec_bankruptcies',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'pub_rec_bankruptcies',
 'tax_liens',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'pub_rec_bankruptcies',
 'tax_liens']

## Optimizing the datatypes for memory efficiency

There are few object columns that we can convert to numeric with a bit of cleaning. The int_rate and revol_util can be converted by removing the percent sign. Can the term column can be converted by removing the months string

In [42]:
chunk_iter=pd.read_csv('loans_2007.csv',chunksize=3000)
for chunk in chunk_iter:
    chunk['int_rate']= pd.to_numeric(chunk['int_rate'].str.rstrip("%"))
    chunk['revol_util']= pd.to_numeric(chunk['revol_util'].str.rstrip("%")) 
    chunk['term']= pd.to_numeric(chunk['term'].str.lstrip(" ").str.rstrip(" months"))
    pp.pprint(chunk.memory_usage(deep=True).sum()/(1024*1024))

4.1684398651123047
4.1656618118286133
4.1671142578125
4.1681051254272461
4.1645698547363281
4.1658296585083008
4.1649141311645508
4.1669502258300781
4.1651468276977539
4.1649971008300781
4.177581787109375
4.1744918823242188
4.1814451217651367
4.4157543182373047
0.79541492462158203

By converting the 3 columns above to numeric we have 11% memory consumption. Next I will convert the columns with minimal unique values to category columns and change the date columns to datetime format.

In [43]:
cat_cols = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}
chunk_iter=pd.read_csv('loans_2007.csv',dtype = cat_cols, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"],chunksize=3000)
for chunk in chunk_iter:
    
    chunk['int_rate']= pd.to_numeric(chunk['int_rate'].str.rstrip("%"))
    chunk['revol_util']= pd.to_numeric(chunk['revol_util'].str.rstrip("%")) 
    chunk['term']= pd.to_numeric(chunk['term'].str.lstrip(" ").str.rstrip(" months"))
    
    pp.pprint(chunk.memory_usage(deep=True).sum()/(1024*1024))

2.7836942672729492
2.7802896499633789
2.7825155258178711
2.7827301025390625
2.7799167633056641
2.7808027267456055
2.7801380157470703
2.782109260559082
2.7805881500244141
2.7818393707275391
2.7946376800537109
2.7933759689331055
2.8010787963867188
3.0340814590454102
0.55158805847167969

The memory consumption has drastically dropped to approx 60% of the intial values. The final optimization will be to downcast the float columns with no NaN values to the optimal integer dtypes and the float columns with NaN values to the optimal float dtype.

In [20]:
cat_cols = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}
chunk_iter=pd.read_csv('loans_2007.csv',dtype = cat_cols, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"],chunksize=3000)
for chunk in chunk_iter:
    
    chunk['int_rate']= pd.to_numeric(chunk['int_rate'].str.rstrip("%"))
    chunk['revol_util']= pd.to_numeric(chunk['revol_util'].str.rstrip("%")) 
    chunk['term']= pd.to_numeric(chunk['term'].str.lstrip(" ").str.rstrip(" months"))
    flt_cols = chunk.select_dtypes(include=['float'])
    for col in flt_cols.columns:
        if col in float_not_nan:
            chunk[col]= pd.to_numeric(chunk[col], downcast='integer')
        else:
            chunk[col]= pd.to_numeric(chunk[col], downcast='float')
    pp.pprint(chunk.memory_usage(deep=True).sum()/(1024*1024))

2.4403715133666992
2.4369668960571289
2.4391927719116211
2.4394073486328125
2.4365940093994141
2.4374799728393555
2.4368152618408203
2.438786506652832
2.4372653961181641
2.4385166168212891
2.4513149261474609
2.4500532150268555
2.4577560424804688
2.6907587051391602
0.49001884460449219